<a href="https://colab.research.google.com/github/RujanBhuju/Data-Processing-and-Visualization/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CPSMA-4313-01

Dr Jacob's Data Processing Visualization

Rujan Bhuju(268963)

Authenticating the database from google cloud.

In [10]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Output shows that my account is authenticated.

Pulling out the dataset from googleclode using bigquery.than, grouping the data by its station name and than calculating the second most popular starting station.

In [11]:
%%bigquery --project data-visualization-338800
SELECT start_station_name, COUNT(*) as most_pop_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
HAVING most_pop_trip!= (SELECT MAX(most_pop_trip)as max_trip
FROM (
SELECT COUNT(*) as most_pop_trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
))
ORDER BY most_pop_trip DESC
LIMIT 1

     start_station_name  most_pop_trip
0  Riverside @ S. Lamar          40635

Output shows the starting station name with second most popular starting station.

Pulling out the dataset from googleclode using bigquery and than calculating the number of trips lasted over an hour and were a round trip.

In [12]:
%%bigquery --project data-visualization-338800
SELECT *, COUNTIF(duration_minutes>60) as number_of_trip_taken_over_an_hour_and_round_trip
FROM (
  SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
)
GROUP BY duration_minutes, start_station_name
Order BY number_of_trip_taken_over_an_hour_and_round_trip DESC

         start_station_name  ...  number_of_trip_taken_over_an_hour_and_round_trip
0      Riverside @ S. Lamar  ...                                               109
1      Riverside @ S. Lamar  ...                                                95
2      Riverside @ S. Lamar  ...                                                94
3      Riverside @ S. Lamar  ...                                                90
4               Zilker Park  ...                                                88
...                     ...  ...                                               ...
24822           26th/Nueces  ...                                                 0
24823           26th/Nueces  ...                                                 0
24824           26th/Nueces  ...                                                 0
24825           26th/Nueces  ...                                                 0
24826           26th/Nueces  ...                                                 0

[24827 rows x 3 columns]

Output shows the  trips lasted over an hour and were a round trip.