<a href="https://colab.research.google.com/github/RujanBhuju/Data-Processing-and-Visualization/blob/main/Quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CPSMA-4313-01

#Dr Jacob's Data Processing Visualization

#Rujan Bhuju(268963)

Importing the required library.

In [45]:
import pandas as pd

Grabing the iris dataset.

In [27]:

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

Computing the data as int.

In [37]:
df.SepalLength.astype('int')

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLength, Length: 150, dtype: int64

Computing the mean of the required dataset.

In [38]:
df.SepalLength.mean()

5.843333333333335

Computing the mean of the dataset when the data type is changed to integer.

In [39]:
df.SepalLength.astype('int').mean()

5.386666666666667

Does converting SepalLength to integer increase or decrease the mean?

Yes, converting sepalLength to integer decreases the value.

finding if the direction of the shift remain the same if we groupby Class?

In [43]:
df.groupby('Class')
df.head(10)

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

we get the above data After the iris dataset have been grouped by Class. Nothing has changed so i think there is no change in the direction of shift.

Gathering the mean, median, count and standard deviation of all columns when grouped by Class.

In [46]:
df.groupby('Class').agg(['mean','median','count','std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]